@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
  --color: whitesmoke
}
*{
    box-sizing: border-box;
    font-family: 'Montserrat', serif;

}
body{
    background-color: #366f77;
    color: var(--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
h1{
    font-size: 3rem;
}
p,
button{
    font-size: 1.5rem;
}
button{
    margin: 10px;
    padding: 25px;
    background-color: var(--color);;
    border: 5px solid var(--color);
    cursor: pointer;
}
.move{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    align-content: center;
}
.btn-score{
    border-radius: 15px;
}
.winner{
    font-size: 2.5rem;
    font-weight: bolder;
}