@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: Nunito,sans-serif;
}
body{
    min-width: 400px;
}
input{
    margin: 5px 0;
    border: 2px solid  darkslategrey;
    border-radius: 5px;
    width: 100%;
}
button{
    color: floralwhite;
    background-color: darkslategrey;
    border: 2px solid  darkslategrey;
    border-radius: 5px;
}
button:hover{
    color: dodgerblue;
}
a{
    text-decoration: none;
    color: dodgerblue;
}
a:focus,
a:hover{
    color: firebrick;
}
ul{
list-style: none;
}