body {
    padding: 40px;
    background: whitesmoke;
    text-align: center;
    color: greenyellow;
}
div{
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
 }

.apple-shelf {
    background: lightcoral;

}

.orange-shelf {
    background: lightsalmon;

}
.trash{
    background-color: dimgray;
}