@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap');
* {
    margin: 0;
    padding:20px;
    box-sizing: border-box;
    color: inherit;
    font-family: Montserrat Alternates, serif ;
}
button{
    max-width: 400px;
    width: 350px;
    font-weight: 600;
    border: 2px solid dodgerblue;
    border-radius: 50px;
    background-image:  linear-gradient(180deg, #15C9FB 0%, #1977F3 100%) ;
    background-repeat: no-repeat;
}
.shopList{
    display: flex;
    flex-direction: column;
    align-items: center;
}